<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cadastrocelulares">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlteraMarca"></activity>
        <activity android:name=".AlteraCelular" />
        <activity android:name=".ListaCelulares" />
        <activity android:name=".ExclusaoCelular" />
        <activity android:name=".ExclusaoMarca" />
        <activity android:name=".CadastroMarca" />
        <activity android:name=".CadastroCelular" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>